div.navbar {
    box-shadow: 0 3px 5px #171717;
    background-color: black;
    opacity: 0.83;
    padding: 2px;
}

div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    margin: 0 64px;

    a.logo {
        padding: 0 24px;
        display: flex;
        align-items: center;

        img {
            position: absolute;
            border-radius: 128px;
            top: 1rem;
            height: 8rem;
            width: 8rem;
            box-shadow: 0 3px 5px #282828;
        }
    }

    ul.menu {
        gap: 10px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: center;
    }

    ul.authenticate{
        padding: 0 16px;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    li {
        display: table-cell;
        position: relative;
        padding: 8px 0;
    }
}

a.underline {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 16px 20px;
    position: relative;
    &::after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &:hover::after{
        width: 100%;
        left: 0;
        background-color: rgba(219, 166, 51, 1);
    }
}

a.underline.active-route{
    &::after{
        width: 100%;
        left: 0;
        background-color: rgba(219, 166, 51, 1);
    }
}

@media screen and (max-width: 1100px){
    a.logo {
        img{
            position: initial !important;
        }
    }
}