<div class="container">
    <div class = "content">
        <div class="text">
        <h1 class="main-header">About Us</h1>
        <h3 class="second-header">Our Team, Location, and About the Restaurant</h3>
        <p class="description">
           Situat în inima unui cartier vibrant, "AC Gastro Sfera" se remarcă prin designul său unic, inspirat de elemente cosmopolite și accente rustice, creând o atmosferă caldă și primitoare. La intrare, vizitatorii sunt întâmpinați de un decor care amintește de un amestec armonios între vechi și nou, cu elemente de lemn natural juxtapuse cu artă modernă.
        </p>
    
        <div class="text">
            <h2 class="section-header">Our Staff</h2>
            <ul>
            <li *ngFor="let staffMember of staff">{{ staffMember }}</li>
            </ul>
        </div>
    
        <div class="text">
            <h2 class="section-header">Our Location</h2>
            <p>{{ location }}</p>
        </div>
    
        <div class="text">
            <h2 class="section-header">About Our Restaurant</h2>
            <p>{{ aboutRestaurant }}</p>
        </div>
        </div>
    </div>
  </div>
  