<div class="welcome-message">
    <h1>ON THE MENU</h1>
</div>
<div class="space-between"></div>
<div class="container">
    <div class="image-container">
        <img src="assets/gourmet.jpg" alt="Imagine 1">
        <a href="/categorii/FOOD" class="circle-text">gourmet plates</a>
    </div>
    <div class="image-container">
        <img src="assets/beer.jpg" alt="Imagine 2">
        <a href="/categorii/DRINK" class="circle-text">craft brews</a>
    </div>
    <div class="image-container">
        <img src="assets/wine.jpg" alt="Imagine 3">
        <a href="categorii/WINE" class="circle-text">wine & cheese pairing</a>
    </div>
</div>

