

.h1 {
    font-size: 51px;
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;

}
body{
    z-index: -999;
    min-height: 100vh;
    background: url(assets/image1.png) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

