<div class="h1">Rezervare</div>

<form [formGroup]="createForm" (ngSubmit)="create()" novalidate>

  <div class="container">
    <div class="c1">
      <div>
        <div *ngIf="detaliiRezervare && detaliiRezervare.length > 0" class="detail">
          <p>Detalii Masa:</p>
          <div *ngFor="let rezervare of detaliiRezervare">
            <p>Masa: {{ rezervare.masa }}</p>
            <p>Data: </p><span>{{ formatareData(rezervare.data.toString()) }}</span>
            <p>Ora: {{ rezervare.time }}</p>
          </div>
        </div>

      </div>

      <div class="tables1">
        <div class="mase">
          <div class="column">
            <label class="masa" [for]="'masa' + masa" *ngFor="let masa of mese.slice(0, 3)">
              <input type="radio" [id]="'masa' + masa" formControlName="masa" [value]="masa"
                (click)="selecteazaMasa(masa) ; afiseazaDetaliiMasa(masa)">
              <img [src]="getMasaImage(masa)" [ngClass]="{'selected': masa === masaSelectata}" height="50px" width="50">
            </label>
          </div>
          <div class="column">
            <label class="masa" [for]="'masa' + masa" *ngFor="let masa of mese.slice(3, 6)">
              <input type="radio" [id]="'masa' + masa" formControlName="masa" [value]="masa"
                (click)="selecteazaMasa(masa) ; afiseazaDetaliiMasa(masa)">
              <img [src]="getMasaImage(masa)" [ngClass]="{'selected': masa === masaSelectata}" height="50px" width="50">
            </label>
          </div>
        </div>
        <div class="bar">
          <img src="assets/bar-counter(2).png" height="128px" width="128px">
        </div>
        <div class="mase">
          <label class="masa" *ngFor="let masa of mese.slice(6, 10)">
            <input type="radio" [id]="'masa' + masa" formControlName="masa" [value]="masa"
              (click)="selecteazaMasa(masa) ; afiseazaDetaliiMasa(masa)">
            <img [src]="getMasaImage(masa)" [ngClass]="{'selected': masa === masaSelectata}" height="50px" width="50">
          </label>
        </div>
        <div class="baie">
          <img src="assets/toilet.png" height="56px" width="56px">
        </div>
      </div>
      <div class="tables2">
        <div class="mase">
          <div class="column">
            <label class="masa" [for]="'masa' + masa" *ngFor="let masa of mese.slice(10, 18)">
              <input type="radio" [id]="'masa' + masa" formControlName="masa" [value]="masa"
                (click)="selecteazaMasa(masa) ; afiseazaDetaliiMasa(masa)">
              <img [src]="getMasaImage(masa)" [ngClass]="{'selected': masa === masaSelectata}" height="50px" width="50">
            </label>
          </div>
          <div class="column">
            <label class="masa" [for]="'masa' + masa" *ngFor="let masa of mese.slice(18)">
              <input type="radio" [id]="'masa' + masa" formControlName="masa" [value]="masa"
                (click)="selecteazaMasa(masa) ; afiseazaDetaliiMasa(masa)">
              <img [src]="getMasaImage(masa)" [ngClass]="{'selected': masa === masaSelectata}" height="50px" width="50">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="reservation-form">
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" placeholder="Your Name">
      </div>

      <div class="input-group">
        <label for="phone">Phone</label>
        <input type="tel" id="phone" formControlName="phone" placeholder="Your Phone Number">
      </div>

      <div class="input-group">
        <label for="date">Date</label>
        <input type="date" id="date" formControlName="data">
      </div>

      <div class="input-group">
        <label for="time">Start Reserve</label>
        <input type="time" id="time" formControlName="time">
      </div>

      <div class="input-group">
        <label for="time">End Reserve</label>
        <input type="time" id="time" formControlName="time_end">
      </div>

      <div class="input-group">
        <label for="guests">Guests</label>
        <input type="number" id="guests" formControlName="guests">
      </div>

      <div class="input-group">
        <label for="requests">Special Requests</label>
        <textarea id="requests" formControlName="specialRequests" placeholder="Any special requests?"></textarea>
      </div>

      <div class="input-group">
        <button type="submit" [disabled]="!createForm.valid">Reserv</button>
      </div>
    </div>
  </div>
</form>