<div class="page-container">
  <h1 class="food">OUR SELECTION</h1>
  <div class="listing-container">
    <div *ngIf="(prodList | async) as menuItems">
      <section *ngFor="let prod of menuItems" class="listing" [routerLink]="['/menu/item', prod.id]">
        <img class="listing-photo"
          src="assets/{{ prod.name }}" 
          alt="Photo of {{ prod.name }}" >
        <div class="listing-details">
          <h2 class="listing-heading">{{prod.name}}</h2>
          <p class="listing-price">{{prod.price}} lei</p>
        </div>
      </section>
    </div>
  </div>
</div>
