<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>dev</id>
            <properties>
                <repo-id>dev-repo</repo-id>
                <repo-name>dev-maven-repo</repo-name>
                <repo-url>https://repo1.maven.org/maven2/</repo-url>
            </properties>
            <repositories>
                <repository>
                    <id>dev-repo</id>
                    <url>https://repo1.maven.org/maven2/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
    </servers>
</settings>
